@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0f0ff;
}

.headerLogo {
  max-width: 40px;
}

.arrow-img {
  max-width: 40px;
}

.animate-move-up-down {
  animation: move-up-down 2s ease-in-out infinite;
}

@keyframes move-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.price {
  color: #0f5caa;
  font-weight: 800;
}

.best-offer {
  font-size: 16px;
  font-weight: 900 !important;
  margin-bottom: 1rem !important;
  background-color: #e1f5e7;
  color: #3ec18d;
  font-weight: 700;
  border-radius: 5px;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .yt-video {
    min-height: 460px;
  }
}

@media (max-width: 769px) {
  .aspect-h-5 {
    --tw-aspect-h: 9 !important;
  }
}
